<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        <httpPlatform processPath="D:\XXXXXXXX\.venv\Scripts\python.exe"
                      arguments="-m uvicorn main:app --host 127.0.0.1 --port %HTTP_PLATFORM_PORT%"
                      stdoutLogEnabled="true"
                      stdoutLogFile=".\logs\python.log"
                      startupTimeLimit="120">
            <environmentVariables>
                <environmentVariable name="PYTHONPATH" value="D:\XXXXXXXX" />
            </environmentVariables>
        </httpPlatform>
    </system.webServer>
</configuration>